.auth-form-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 50px 30px;
    border-radius: 20px;
}

.auth-input {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.auth-checkbox {
    margin-top: 10px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: center;
}