.col-flex-cnt {
    display: flex;
    flex-direction: column;
}

.row-flex-cnt {
    display: flex;
    flex-direction: row;
}

.auth-form-cnt {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 50px 30px;
    border-radius: 20px;
}

.auth-input {
    margin-bottom: 20px;
}

.auth-checkbox {
    margin-top: 10px;
    justify-content: center;
}

.error {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    background-color: rgb(255, 200, 200);
    padding: 10px 10px;
    border-radius: 5px;
}

.empty-error {
    display: none;
}
